@import "setup";
@import "menu";
@import "home";
@import "about";
@import "skills";
@import "projects";
@import "contact";
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body {
  color: #767676;
  font-family: "Mulish", sans-serif;
  //overflow: scroll;
}
ul,
li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
p {
  font-weight: 300;
  font-style: italic;
}
h1,
h2,
h3,
h4 {
  color: black;
}
h1 {
  font-weight: 900;
  font-size: 3.5rem;
  font-style: bold;
}
h3 {
  font-weight: 800;
  font-size: 1.5rem;
}
h2 {
  font-weight: 800;
  font-size: 3rem;
}
a {
  text-decoration: none;
}
a:link {
  color: inherit;
}
.wrapper {
  //width: 100%;
  //height: auto;
  position: relative;
  display: flex;
  //flex-direction: row;
  //clear: both;
  //overflow: hidden;
}
.mainContentWrapper {
  //width: 450px;
  width: 100%;
  flex: auto;
  align-items: center;
  flex-direction: column;
  //z-index: 10;
  padding: 0px 100px;
  background-color: rgb(245, 244, 244);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin-left: 450px;
}
// .spaceHolder {
//   width: 30%;
//   height: 100vh;
//   padding: 0px 100px;
//   max-width: 450px;
// }
.content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  height: auto;
}
button {
  text-decoration: none;
  width: 200px;
  color: white;
  background-color: black;
  padding: 9px 40px 14px 40px;
  font-style: italic;
  font-family: Montserrat;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.container {
  width: 60%;
  display: flex;
}
.modalBackground {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opacity 0.5s;
}
.modal {
  position: relative;
  background-color: white;
  width: 70%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.backgroundActive {
  visibility: visible;
  opacity: 1;
}
.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.pdf {
  width: 90%;
  height: 90%;
}
.fab:hover {
  opacity: 0.7;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-twitter-square {
  color: #55acee;
}
.fa-linkedin {
  color: #0e76a8;
}
@media only screen and (max-width: 1300px) {
  .homeContainer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1024px) {
  .spaceHolder,
  .menuWrapper {
  }
  .aboutImage {
    display: none;
  }
  .project {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .spaceHolder,
  .menuWrapper {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .content,
  .mainContentWrapper {
    width: auto;
    padding: 0;
  }
  .homeImage {
    height: 20%;
    width: 20%;
    min-width: 200px;
    //clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    margin-right: 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  .social ul {
    gap: 0px;
    margin-right: 100px;
  }
}
